* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
img{
    max-width: 100%;
    height: auto;
}
/*PJESA E HEADERIT*/
header{
    flex-wrap: wrap;
    display: flex;
    padding: 10px 50px;
    background-color: #FEF5E7;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 70px;
    gap: 20px;
   /* backdrop-filter: blur(8px);*/
}
.imazhi1{
    cursor: pointer;
    height: 50px;
    width: auto;
}
.nav_links{
    display: flex;
    gap: 15px;
}
.nav_links li {
    display: inline-block;
}
li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #a28164c9;
}
header nav .nav_links li a:hover{
    color: #a28164c9;
}
.nav_links a:active{
    transform: translateY(1px);
}
.nav_links a.active{
    background-color: #1f1f1f;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}


/*PJESA NE FILLIM*/
.hero {
    width: 100%;
    height: 100vh;          
    position: relative;
    display: flex;
    overflow: hidden;
}

.foto {
    width: 50%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    max-width: 90%;
    background-color: #f5f1e5;
    padding: 3.5rem 4rem;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.overlay h2 {
    font-family: "Cormorant Garamond", "Times New Roman", serif;
    font-weight: 500;
    font-size: 3.1rem;
    line-height: 1.15;
    color: #000700;
    margin-bottom: 2rem;
}

.overlay p {
    font-size: 1rem;
    line-height: 1.7;
    color: #010400;
    margin-bottom: 2.3rem;
}


.overlay button {
    padding: 0.9rem 2.8rem;
    border: none;
    background-color: #040200;
    color: #f5f1e5;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Inter", system-ui, sans-serif;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.overlay button:hover {
    background-color: #c0a389c9;
    transform: translateY(-1px);
}


/*PJESA E BOOK YOUR SESSION*/

.book-session {
    text-align: center;
    padding: 80px 20px;  
    background-color: #f9f9f9; 
    font-size: 40px;
}
.book-session h2 {
    font-size: 40px;
    margin-bottom: 18px;
}
.katrorat {
    display: flex;
    justify-content: center;
    gap: 35px;
}
.katror {
    width: 450px;
    max-width: 100%;
    height: 700px;
    background: #D9CECC;
    padding: 35px;
    border-radius: 12px;
    border: 1px solid #ddd;
    gap: 8px;
}
.katror img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}
.katror h3 {
    font-size: 25px;
    margin: 10px 0;
}
.katror p {
    font-size: 15px;
    margin: 6px 0;
}
.book-btn {
    align-self: start;
    margin-top: 10px;
    padding: 8px 16px;   
    border-radius: 0;
    border-color: #826246;
    background: #826246;
    color: white;
    font-size: 14px;     
    cursor: pointer;
    display: inline-block;  
    transition: background 0.2s ease;
}
.book-btn:hover {
    background: #b59375;
}


/*PJESA E ABOUT OUR PILATES STUDIO*/

.about-section {
    margin-top: 80px;
    padding: 50px;
    background: #D7C4B6; 
}
.about-container {
    display: flex;
    gap: 50px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; 
}

.about-image img {
    width: 100%;
    max-width: 600px;
    border-radius: 12px;
    object-fit: cover;
}
.about-text {
    background: #FBF3EE; 
    color: black;
    padding: 100px 80px;
    border-radius: 12px;
    flex: 1;
    line-height: 1.7;
}
.about-text h2 {
    font-size: 28px;
    margin-bottom: 15px;
}
.about-text h3 {
    font-size: 20px;
    margin: 12px 0 6px;
}
.about-text p {
    font-size: 16px;
}
.learn-more{
    background-color:black ;
    border: none;
    margin-top: 20px;
    padding: 10px;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}
.learn-more:hover{
    background-color: #7d7676;
}

/*PJESA E WHY US */

.why-us{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.us-left{
    background: #b59375;
    color: white;
    padding: 80px;
}
.us-left h1{
    font-size: 60px;
    margin-bottom: 30px;
}
.us-left p{
    font-size: 20px;
    line-height: 1.6;
    max-width: 500px;
    
}
.us-right{
    background: #F8F7ED;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.us-box h3{
    font-size: 22px;
    margin-bottom: 15px;
    color: black;
}
.us-box p{
    font-size: 18px;
    line-height: 1.6;
    color:black;
    max-width: 500px;
}
.divider{
    width: 100%;       
    height: 2px;       
    background: black;
    margin: 15px 0;  
}

/*PJESA E GET IN TOUCH WITH US*/

.contact-section {
    display: flex;
    width: 100%;
    margin-top: 50px;
    min-height: 400px; 
    align-items: stretch;
}
.contact-image,
.contact-form {
    flex: 1 ;
}
.contact-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}
.contact-form {
    background-color: #D9CECC;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 40px;
}
.contact-form h2, 
.contact-form label,
.contact-form textarea,
.contact-form button{
    margin-left: 0;
    margin-bottom: 20px;
}
.contact-form h2 {
    margin-bottom: 30px;
    font-family: 'Georgia', serif;
    color: black;
}
.contact-form label,
.contact-form textarea {
    color: black; 
}
.form-row {
    display: flex;
    gap: 20px;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex: 1;
}
.form-group input,
.form-group textarea {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #555;
    background: transparent;
    font-size: 16px;
}
#clientMessage  {
    resize: vertical;
    min-height: 100px;
}
.btn-contact-form {
    padding: 12px 25px;
    background-color: #826246;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.btn-contact-form:hover {
    background-color: #b59375;
}


/*PJESA E FOOTER-IT*/

.footer{
    display: flex;
    justify-content: space-between;
    padding: 40px 5%;
    color: black;
    border-top: 2px solid #dcdcdc;
}
.footer-majtas, .footer-djathtas{
    width: 45%;
}
.footer-majtas p{
    cursor: pointer;
    line-height: 1.5;
}
.contact{
    margin: 5px;
    font-size: 18px;
}
.adress{
    margin-top: 20px;
    margin-left: 7px;
}
.footer-djathtas{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.footer-djathtas h3{
    margin-bottom: 20px;
    font-size: 22px;
}
.footer-djathtas label{
    font-size: 16px;
}
.footer-djathtas label,
.checkbox label {
    color: black;
}
.emaili{
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    font-size: 16px;
    margin-top: 5px;
}
.checkbox{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.checkbox label {
    margin: 0;
    font-size: 15px;
    color: black;
    color: black;
}
.submit {
    background: #826246;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 17px;
    cursor: pointer;
}
.submit:hover {
    background: #b59375;
}
.copyright{
    text-align: center;
    padding: 10px 0 25px;
    font-size: 14px;
    color: #333;
}
.adress a{
    color: black;
    text-decoration: none;
}
.adress a:hover,
.contact:hover{
    color: #826246;
}
.status-message{
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    display: none;
    transition: all 0.3s ease;
}
.status-message.success{
    color: green;
    display: block;
}
.status-message.error{
    color: red;
    display: block;
}

/*PJESA E LOGIN FORM*/

.login-box{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/photo-1747238415033-b74eec07eb59.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.wrapper{
    width: 90%;
    max-width: 420px;
    background: rgba(255,255,255,0.08);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: #fff;
    border-radius: 12px;
    padding: 50px 40px;
    z-index: 1;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    padding-bottom: 20px;
}
.wrapper .input-boxi{
    width: 100%;
    height: 50px;
    position: relative;
}
.input-boxi{
    margin-bottom: 30px;
    position: relative;
}
.input-boxi input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-boxi input::placeholder{
    color: #fff;
}
.input-boxi i{
    right: 20px;
    top: 30%;
    font-size: 20px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;
}
.remember-forgot label input{
    color: #fff;
    margin-right: 3px;

}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.remember-forgot label{
    color: black;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
  min-height: 15px;
}
.input-boxi{
    margin-bottom: 40px;
}
.input-boxi input.input-error{
    border-bottom: 2px solid red !important;
}
.success-message{
    background-color: #d4edda;
    color: green;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #c3e6cb;
    font-weight: bold;
}

/*REGISTER FORM - SHTES */

.input-boxi select, 
.input-boxi input[type="date"] {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    padding: 0 20px;
    font-size: 15px;
    color: #fff;
    outline: none;
    appearance: none;
    cursor: pointer;
}
.input-boxi select option {
    color: #000; 
}
.input-boxi textarea {
    width: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 12px;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    resize: vertical;
    outline: none;
    height: 90px;
    margin-top: 10px;
}
.input-boxi input,
.input-boxi select,
.input-boxi textarea{
    color: #fff;
}
.input-boxi input::placeholder, 
.input-boxi textarea::placeholder{
    color: #fff;
    opacity: 1;
}
.input-boxi select option{
    color: black;
}
.input-boxi i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
}
.terms-label {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 12px 0;
    font-size: 14px;
    color: #fff;
}
.terms-label input {
    accent-color: #fff;
}
.input-boxi.big {
    height: auto;
    margin-bottom: 12px;
}
.Terms{
    color: black;
}
.register-wrapper{
    width: 90%;
    max-width: 400px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: #fff;
    border-radius: 12px;
    padding: 25px 35px;
}
.register-wrapper h1{
    font-size: 28px;
    text-align: center;
    padding-bottom: 15px;
}
.register-wrapper .input-boxi{
    width: 100%;
    height: 45px;
    position: relative;
    margin-bottom: 22px;
}
.register-wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;
}
.register-wrapper .btn{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
}
.register-wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;
}
.register-wrapper .Terms {
    margin: 5px 0 15px !important;
    font-size: 14px;
}

/*PJESA E BOOK_SESSION*/

.box{
    width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
label{
    font-weight: bold;
    color: #b59375;
    display: block;
    margin-bottom: 10px;
}
input[type="date"]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 6px;
}
.cal-btn{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: #b59375;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.cal-btn:hover{
    background: #b59375;
}
.service-cal{
    margin-top: 20px;
    background: #f7faf8;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
}


/*PJESA E RESPONSIVITETIT(TABLET)-ROZAFA*/
@media (max-width: 992px) {
    header {
        padding: 10px 20px;
    }
    .nav_links {
        gap: 10px;
        flex-wrap: wrap;
    }
     .about-container {
        flex-direction: column;
    }
    .about-text {
        padding: 40px;
    }
    .why-us {
        grid-template-columns: 1fr;
    }
    .us-left,
    .us-right {
        padding: 50px;
    }
    .footer {
        padding: 40px 60px;
    }
}


/*PJESA E RESPONSIVITETIT(TELEFON<768px)-ROZAFA*/
@media (max-width: 768px) {
    header{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .nav_links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .nav_links.active{
        display: flex;
    }
    .about-text {
        padding: 30px;
    }
    .us-left h1 {
        font-size: 40px;
    }
    .us-left p,
    .us-box p {
        font-size: 16px;
    }
    .footer {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }
    .footer-majtas,
    .footer-djathtas {
        width: 100%;
    }
}


/*PJESA E RESPONSIVITETIT(TELEFON<480px)-ROZAFA*/
@media (max-width: 480px) {

    header img {
        width: 120px;
    }
    .nav_links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .nav_links a{
        font-size: 14px;
    }
    .nav_links.active{
        display: flex;
    }
    .about-text {
        padding: 20px;
    }
    .us-left {
        padding: 30px;
    }
    .us-right {
        padding: 30px;
    }
    .footer {
        padding: 20px;
    }
}



/*PJESA E RESPONSIVITETIT(TABLET)*/
@media (max-width: 992px) {
    .hero {
        height: auto;
        flex-direction: column;
    }
    .foto {
        width: 100%;
        height: 300px;
    }
    .overlay {
        width: 80%;
        height: auto;
        padding: 30px;
    }
    .overlay h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    .katrorat {
        flex-wrap: wrap;
        gap: 25px;
    }
    .katror {
        width: 45%;
        height: auto;
    }
    .contact-section {
        flex-direction: column;
    }
    .contact-image img {
        height: 300px;
    }
}


/*PJESA E RESPONSIVITETIT(TELEFON<768px)*/
@media (max-width: 768px) {
    .foto {
        height: 250px;
    }
    .overlay {
        position: static;
        transform: none;
        margin: 20px auto;
    }
    .overlay h2 {
        font-size: 26px;
    }
    .overlay p {
        font-size: 15px;
    }
    .katrorat {
        flex-direction: column;
        align-items: center;
    }
    .katror {
        width: 90%;
    }
    .contact-form h2,
    .contact-form label,
    .contact-form textarea,
    .contact-form button {
        margin-left: 20px;
    }
}


/*PJESA E RESPONSIVITETIT(TELEFON<480px)*/
@media (max-width: 480px) {
    .overlay h2 {
        font-size: 22px;
    }
    .overlay p {
        font-size: 14px;
    }
    .overlay button,
    .book-btn {
        width: 100%;
    }
}
